<input class="title" type="text" placeholder="Title">
<textarea class="content" placeholder="Content"></textarea>
<button class="save">Add new Item</button>
<a href="javascript:;" class="nevermind">Nevermind</a>
