{{#if children}}
  <a href="javascript:;" class="collapse">[-]</a>
{{/if }}

<span class="handle">☰</span>
<h2 class="title" contentEditable>{{title}}</h2>
<p class="content" contentEditable>{{content}}</p>
