@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  width: 70%;
  margin: 0 auto;
  font-family: "Source Sans Pro";
}

a {
  color: #AAA;
}

@mixin super-button($width, $height) {
  font-family: "Source Sans Pro";
  font-size: 1em;
  width: $width;
  height: $height;
  background: #FFF;
  border: 1px solid #555;
}

h1 {
  font-weight: 700;
  font-weight: 200;
}

.item-list {
  min-height: 20px;
}

.item-form {
  margin-bottom: 20px;

  input {
    font-family: "Source Sans Pro";
    font-size: 1em;
    display: block;
    width: 100%;
    height: 1.5em;
    margin: 20px 0;
    border: 1px solid #CCC;
  }

  textarea {
    font-family: "Source Sans Pro";
    font-size: 1em;
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border: 1px solid #CCC;
  }

  button {
    @include super-button(100%, 30px);
  }
}

.save-button {
  @include super-button(200px, 30px);
  float: right;
}

.item {
  margin: 20px;
  padding-left: 10px;
  border-left: 5px solid #555;

  h2 {
    display: inline;
    // font-weight: 200;
    font-size: 1.3em;
  }

  .collapse {
    font-size: 0.8em;
    padding-right: 5px;
    color: #AAA;
  }

  .handle {
    cursor: move;
    font-size: 1.3em;
  }
}
